In [9]:
import pandas as pd; import numpy as np;

In [25]:
def count_complaints_in_year(year, x):
    x['year'] = pd.DatetimeIndex(x['incident_date']).year 
    x1 = x[(x.year == year)]
    x2 = x1.groupby(['officer_id']).size()
    return x2

def add_complaints_by_year(base_year, nlags, df_complaints, df_officers):
    Y = df_officers
    for year in range(base_year,base_year-nlags,-1):
        q = count_complaints_in_year(year, df_complaints).to_frame()
        j = year-base_year
        jstr = 'Lag%d' % j
        q.columns = [jstr]
        Y = Y.merge(q, left_on = 'officer_id', right_index = 1, how = 'outer')
    Y.fillna(value = 0, inplace = True)
    return Y

In [23]:
# Load Data
complaints = pd.read_csv('data/toy.complaint_data.csv'); 
officers = pd.read_csv('data/toy.officer_data.csv'); 
r = add_complaints_by_year(2015, 5, complaints, officers)

In [24]:
r.head()

,first.name,last.name,appointed.date,race,gender,birth.year,age,rank,primary,secondary,tertiary,officer_id,Lag0,Lag-1,Lag-2,Lag-3,Lag-4
0,KARINA,AARON,2005-09-26,HISPANIC,FEMALE,1980,35.0,POLICE OFFICER,0,1,0,1139,0.0,0.0,0.0,0.0,3.0
1,AZIZ,ABDELMAJEID,2008-04-28,A_OTHER,MALE,1984,31.0,POLICE OFFICER,0,0,1,434,0.0,0.0,0.0,0.0,0.0
2,JENNIFER,ACCARDO,2004-11-29,WHITE,FEMALE,1979,37.0,POLICE OFFICER,0,0,1,2515,0.0,0.0,0.0,0.0,1.0
3,ROSEMARY,ACCARDO,1986-08-11,WHITE,FEMALE,1952,63.0,POLICE OFFICER,0,0,1,1149,0.0,0.0,0.0,0.0,0.0
4,THOMAS,ACCARDO,2001-04-30,WHITE,MALE,1967,49.0,POLICE OFFICER,0,1,0,2134,0.0,1.0,2.0,1.0,0.0

Function 'add_complaints_by_year(base_year, nlags, df_complaints, df_officers)'
Arguments:
base_year = year at which model is being fit
nlags = number of lagged years (relative to over which officer's