In [1]:
# This is Jupyter notebook that loads the cop data
# as a pandas dataframe
#

import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np

%matplotlib inline

data_folder = os.path.join(os.getcwd(), 'data')

# Step 1: Import the Data

# import the officer data
officer_file = os.path.join(data_folder, 'toy.officer_data.csv')
officer_df = pd.read_csv(officer_file)

# import the complaint data
complaint_file = os.path.join(data_folder, 'toy.complaint_data.csv')
complaint_df = pd.read_csv(complaint_file)

In [2]:
# Step 2: See the Data

# officer head
officer_df.head()

# complaint head
complaint_df.head()

,crid,incident_date,beat_2012_geocoded,complaintcategory,finalfinding,officer_id
0,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,1
1,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,2
2,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,3
3,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,4
4,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,5

In [3]:
import chris_rasmus_graph_features

In [4]:
complaint_df_randtime = complaint_df.copy()

In [5]:
np.random.randint(1,10)

2

for index, row in complaint_df_randtime.iterrows():
    complaint_df_randtime.iloc[index]["incident_date"]  = np.random.randint(1,10)

In [6]:
complaint_df_randtime.shape

(13840, 6)

In [7]:
np.zeros(13840)

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

In [8]:
complaint_df_randtime["LAG"] = np.zeros(13840)

In [9]:
complaint_df_randtime.head()

,crid,incident_date,beat_2012_geocoded,complaintcategory,finalfinding,officer_id,LAG
0,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,1,0
1,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,2,0
2,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,3,0
3,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,4,0
4,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,5,0

In [10]:
complaint_df_randtime["LAG"] = np.random.randint(0,6,13840)

In [11]:
complaint_df_randtime.head()

,crid,incident_date,beat_2012_geocoded,complaintcategory,finalfinding,officer_id,LAG
0,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,1,2
1,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,2,0
2,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,3,5
3,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,4,0
4,1022797,01-Jan-2009 0:08,NaN,03G-MISCELLANEOUS,EX,5,5

In [12]:
from chris_rasmus_graph_features  import *

In [13]:
G = build_bipartite_graph(complaint_df_randtime)

In [14]:
oids = complaint_df_randtime['officer_id'].unique()

In [15]:
oid_nbrcomp = num_of_nbr_complaints(G,oids,6)

In [16]:
oid_nbrcomp[623]

array([30, 30, 36, 29, 32, 21])

In [17]:
oid_nbrcomp[1]

array([5, 5, 4, 3, 5, 3])

In [ ]:
oid_dc_nbrcomp = doublecount_nbr_complaints(G, oids, 6)

In [ ]:
oid_dc_nbrcomp[623]

In [ ]:
oid_nbrcomp_pf = num_of_nbr_complaints_past_future(G,oids,6)

In [ ]:
oid_nbrcomp_pf[623]

In [ ]:
oid_nbrcomp[623]